@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>View PDF</title>
    <script src="~/js/pdfview/pdfobject.js"></script>
</head>
<body>
    <script>
        window.onload = function () {
            var myPDF = new PDFObject({ url: '@ViewBag.Url' }).embed();
        };
    </script>
</body>
</html>